* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0
}

.header {
  width: 100%;
  background-color: rgb(231, 230, 229);
  display: flex;
  position: relative;
  flex-direction: row;
  border-bottom-color: 1px solid #fff;

}

.menu {

  display: inline-flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-left: 10vh;
  gap: 2rem;

}

.video-container {
  position: relative;
  width: 80vw;
  height: 60vh;
  left: 12vw;
  top: 2vh;
}
.video-container video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0; 
  left: 0;
}

.menu a {
  color: #232222;
  text-align: center;
  margin-top: 1.5rem;
  text-decoration: none;
  font-size: 17px;
  margin-left: -1rem;
}

.menu a:hover {
  background-color: hsl(188, 16%, 63%);
  color: black;
  height: fit-content;
  width: fit-content;
}

.menu.active {
  background-color: #04AA6D;
  color: white;
}

.menu .icon {
  display: none;
}

.search-container {
  margin-top: 6vh;
  width: 2vh;
  align-items: center;
  margin-left: 1rem;
}
.search-input {
  width: 20vw;
  max-width: 190px;
  border: 2px solid;
  border-radius: 30px;
  margin-left: 1rem;

  border-color: #0b0b0b;

}

.search-field {

  max-width: 90%;
  border: 2px solid;
  border-radius: 30px;
  align-items: center;
  border-color: #0b0b0b;
  margin-left: 1rem;

}
.search-container::placeholder {
  font-size: 1%;
  color: black;
  opacity: 0.6;
  margin: 1rem;
}

.logo {
  max-width: 10%;
  height: fit-content;
  margin-left: 0.8rem;
  margin-top: 2.2rem;
}
.logo:hover{
  background-color:  hsl(188, 16%, 63%);;
  height: fit-content;
  width: 20vw;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.text-container {
  max-width: 85%;
  width: fit-content;
  text-align: justify;
  text-size-adjust: 80%;
  margin-left: 10%;
  margin-top: 3%;
}

.card {

  background-color: #d6d0d0;
  padding: 20px;
  margin: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 70%;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: contain;
}

.card p {
  margin-top: 1rem;

  text-align: center;
  color: rgb(5, 5, 5);
}

.category-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Adjust the min and max width as needed */
  gap: 20px;
  /* Adjust the gap between cards */
}

.icon-fav {
  position: relative;
  margin-bottom: 10px;
  right: 10px;
  font-size: 24px !important;
  color: rgb(5, 5, 5);
  cursor: pointer;
  z-index: 20;
}


.inFav {
  position: relative;
  margin-bottom: 10px;
  right: 10px;
  font-size: 24px !important;
  color: #f00a0a;
  cursor: pointer;
}
.footer-container{

  height: 5rem;

  margin-top: 4rem;
  margin-left: 4rem;
  align-items: center;
}
.footerText-container{

  padding-top: 2rem;
  padding-left: 5rem;
}

@media screen and (max-width: 768px) {
  .menu a:not(:first-child) {
    display: none;
  }

  .menu{
    margin-top: 4rem;
  }
  .menu a.icon {
    float: right;
    display: block;
    padding: 5px 20px;
    margin-left: 70px;
    margin-top: -1.5rem;
  }
  .menu a {
    margin-right:5rem;
    margin-top: -1rem;
  }

  .menu.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .menu.responsive .icon {
    position: absolute;
    margin-top: -2rem;
    margin-right: 0;
  }

  .menu.responsive a {

    display: block;
    text-align: left;
    margin-top: -1.5rem;
  }


  .logo {
    margin-right: 2rem;
    height: 30px;
    max-width: 45%;
    margin-top: 0.5rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    background-color:  rgb(244, 244, 244);
  }


  .search-container {
    margin-right:15vh;
  }
  .video-container {
   margin-left: 0.3rem;/* Optional: You can set a maximum width */
  }
  .footerText-container{

    padding-left:1rem;
  
  }

.text-container {
  margin-top: 5%;
}
}

@media screen and (min-width: 1168px) {
  #inputEvent{
    margin-left: 35vh;
  }
  .search-container {
    margin-left: 35vh;
  }
}